@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Web Application ASP .NET MVC5 .Net Framework 4.7.2 Visual Studio 2019 -
    Restaurant Register and build using Scaffolding List, Edit, Detail, Create, Delete
    Resources: 
    Injection Dependency Autofac
    EntityFramework
    WebApi
    Visual Studio 2019
    GitKraken Client GIT

</p>
