@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Euclides Klieamnn<br />
    Santa Cruz do Sul, RS 96835-422<br />
    <abbr title="Phone">P:</abbr>
    51999708050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rafaelv_s@hotmail.com</a><br />
    <strong>LinkedIn:</strong>  <a href="https://www.linkedin.com/in/rafael-vieira-suarez-4314ba23">rafael.suarez</a><br />
</address>